.card {
	.card__container {
		background-color: rgb(245, 245, 245);
		min-width: 720px;
		max-width: 1440px;
		margin:2rem auto;
		display: flex;
		flex-direction: row;
		.card__container--img {
			// flex: 1 1 40%;
			width: 40%;
			position: relative;

			.picture {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
		.card__container--img::after {
			display: block;
			content: "";
			padding-bottom: 75%;
		}

		// TEXT CONTAINER
		.card__container--content {
			width: 60%;
			height: inherit;
			padding: 1rem 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.card__container--content-box1 {
				margin: 0 2rem;
				.card__content-box1--title {
					font-size: 1.5rem;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					margin: 0.5rem 0;
				}
				.card__content-box1--lable-box {
					display: flex;
					justify-content: space-between;
					padding: 0.5rem 0;
					margin-top: .5rem;
					.lable-container {
						.lable__text {
							font-size: 24px;
							font-weight: 600;
							margin: 0;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
						}
						.lable__tag {
							display: flex;
							align-items: center;
							color: rgb(71, 67, 66);
							margin: 0;
							padding: 0.5rem 0;
							line-height: 1.5rem;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							svg {
								color: rgb(191, 197, 206);
								margin: 0 5px;
							}
						}
					}
				}
				.card__content-box1--lable__price-box {
					.lable__price {
						white-space: nowrap;
						font-size: 24px;
						font-weight: 600;
						margin: 0;
						margin-left: 1rem;
					}
				}
			}

			.card__container--content-box2 {
				height: 3rem;
				// padding: .75rem 0;
				margin: 0 2rem;
				display: flex;
				align-items: center;

				svg {
					width: 2rem;
					height: 2rem;
					padding: 2px 5px;
				}
				p {
					margin-inline: 0.5rem;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}

// .card {
// 	.card__container {
// 		min-width: 720px;
// 		max-width: 1440px;
// 		// height: 100px;
// 		margin: auto;
// 		display: flex;
// 		flex-direction: row;
// 		.card__container--img {
// 			// width: 40%;
// 			flex: 1 1 40%;
// 			img {
// 				width: inherit;
// 				// height: ;
// 			}
// 			&__container--content {
// 				flex: 1 1 100%;
// 				width: 60%;
// 				height: inherit;
// 				background-color: blue;
// 			}
// 		}
// 	}
// }
